<%- include('../partials/header.ejs',{}) %>

<div>
    <%- include('../partials/bookSearch',{}) %> 
</div>

<div>
    <ul>
        <%- include('../partials/bookList',{}) %> 
    </ul>
</div>

<%- include('../partials/footer.ejs', {}) %> 